* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: none;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

.modules-left {
  margin-left: 12px;
  margin-top: 6px;
}

.modules-right {
  background-color: rgba(22, 22, 30, 0.7);
  border-radius: 10px;
  margin-right: 12px;
  margin-top: 6px;
  padding: 5px;
}

#workspaces button {
  background-color: rgba(22, 22, 30, 0.7);
  border-radius: 5px;
  padding: 5px;
  margin-right: 1px;
  color: white;
}

#workspaces .active {
  background: rgba(22, 22, 30, 1);
}

#mode,
#clock,
#battery {
  padding: 0 10px;
}

#clock {
}
