* {
  border: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: none;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

.modules-left {
  margin-left: 12px;
  margin-top: 6px;
}

.modules-right {
  background-color: #16161e;
  margin-right: 12px;
  margin-top: 6px;
  padding: 5px;
}

#workspaces button {
  background-color: #16161e;
  padding: 5px;
  margin-right: 1px;
  color: white;
}

#workspaces .active {
  background: #698cd6;
  color: black;
}

#mode,
#clock,
#battery {
  padding: 0 10px;
}

#clock {
}
