* {
  border: none;
  border-radius: 0;
  font-family: "Inter";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

/* left modules */

.modules-left {
  margin: 6px 8px;

  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
}

#workspaces button {
  font-weight: 400;
  padding: 4px;
  color: white;
}

#workspaces .active {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

/* right modules */

.modules-right {
  margin: 6px 8px;
}

#clock,
#wireplumber {
  font-weight: 600;
  border-radius: 6px;
  padding: 4px 8px;
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}
