* {
  border: none;
  border-radius: 0;
  font-family: "Liberation Sans";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: none;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

.modules-left {
  margin-left: 8px;
  margin-top: 6px;
}

.modules-right {
  border-radius: 10px;
  margin-right: 8px;
  margin-top: 6px;
  padding: 5px;
}

#workspaces button {
  border-radius: 5px;
  padding: 5px;
  margin-right: 1px;
  color: white;
}

#workspaces .active {
  background: rgba(255, 255, 255, 0.1);
}

#mode,
#clock,
#battery {
  padding: 0 10px;
}

#clock {
}
