{
	"data": "ENC[AES256_GCM,data:+qCeC5z1iySyJX+YMu+3KOTSYE7b9LFVZ0BqWvGnS5mkkriwolAEqqBEGOvmwAfBUbr48ERWCne4O0V522uw9UoEHQmdgqx6vI5f2des6DPpJRzFRYd72RecUCtY/qIIh1h0xAocJvX1edcQKr5FbBrSGefqLBv5xz1Wr45tzlwCf7F24z+TJYRQWppdRCKTKfwXuvkBA5ueIvhPRRrtTduoueOOVgusuoC0xQeyhH3WWEQOCvNTioQAh7cHnU40xKmmFKgAuhn0evOCDVJXTIdwNDGWiKVA6p7aI3KmCIEddEXVX0l50RcKdtTdbVcV65um0r0wLpKwbSe8lSe1TIM3b2AGEXAxef5fJ6ki/rdQ8StWnoL7Y7GmCWduTSsmBbvxDAsKhQNghX97eIYhDhkJDk+oHx7hswwSWG64Hpxrd6a4DXHfXew18FNXTEEuGsvTwqcsJ14Tgmh9kcjO2Nk0s3yXC1j0V9u42rlQ/7Gk++TZ0g6KnsQvJ9WeRi9bZo8ToCvqrdveUhh1JHttkAgpROB5vTwMJARYwBzL0Dbf7m7nwTrz3d40gJmE5v5r4afmi9rU/OOPgHWigMPl,iv:MsXRIDelo2CnEgBwL+J/wC+qgiUxsjhmsKhK0+Y3lZw=,tag:FYrmoraUirDp6ewXdjI/zQ==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1f4rhkdrl3yd7qwrpmz33cy5vck0520kyrzk3crf7vr3l2hc07smswjrn8u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBXSEhZQTRYWFpJeXVSTVhR\nUXVCaUxnZFJHeXNWVDQzRGs5dm9obTcvMVMwCndNVjJ5Q1lyY1BWcmpkMC9tZFBw\nV2hDMXE1YVpKbXZjaVVXL0ZUWXh0ZEkKLS0tIEU3ckp0WjdTdUFmMkk0aHZMVEJ0\nNXUxSzc4RlkwMjR4TVpZZFJaQkpJLzAKEO4sX+g2SWMXH00khr1IBYY7uudEsinv\neNqele1dHqDf37M2KOaA0GMn4Z8d0959rWmyh0lBbB4ceEG4Qm9M+g==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-09-18T17:08:29Z",
		"mac": "ENC[AES256_GCM,data:T+br6EjGTKCxvD4Vnzuj2mu0BodA/PhEMNd4JxSTDuMHCmz8KygnIghiZBa1A/oJF3ZSttGYBlephQlCysfeRw/whepnZymFzXLcqtQMJ5Qc1+yJDAU2omcnzSs/B6uuUV7YmLc16S6o6iMH3krndNz6StqqVnbOeZHks6Qmj+U=,iv:lJIl08hhRlAZmjJqPEXGkX22gSV7xcIlRAdLEEFsnfc=,tag:VbBZm+qfj6w9mKsIeMnn9Q==,type:str]",
		"version": "3.12.1"
	}
}
