{
	"data": "ENC[AES256_GCM,data:uKMGvxXpk3op2Qo9iuR34NUQFkFGY8L2P55daCuQEZn+O4dzF9yhJur0Y7UsU650UIMW1nWfhwgdTibfLVFkd+w9jb5SYx00918UaAcb4V+yA4bZ+tDhqC33RvM1hHluXUWSeLYIIWIVWUO5pEjtZOBIICUdwJ2aN8InoV5tWJDuCqX5gkZ0KFARsg+dACCnOsI7SvKYZRkLT2a8msUiaHgQ6HDwRPTunlHj5/TmqRjTM3P0yWGN9lbDpB46i2sK7MdMZPZgDdV5J6j4fzHiHmx+5wSotP/ZdWwZYXApuxL4SPAEG4GaQI1hLzLwswiWO8zwYmbpyHYVynRvW4nlmsSQ1yTkvgj9kUAPnwLX+Cay5denNpFGYXk2JJKIfT5MLgseBzpn1DnNgZIt15/xItyB37g3iksO/MlKofvRrqpe18HVpn/dfJdW7A==,iv:j7c9wjeAifzf2JcECZQnZ6OMe+5EU9qSWsJN+/VOEJM=,tag:bR8bPBhpUqozZnDpZQNCQw==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1f4rhkdrl3yd7qwrpmz33cy5vck0520kyrzk3crf7vr3l2hc07smswjrn8u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBlOVNNRDJiVE5URWpwa3Ev\nREpndXJINVVoU3p4dnl5amhSKzREUzJhVFJjCjJXaFh3cHZFM1VOcFlna2Fja082\nRUw3VWIveWNKMHFzZUIwVWxPN3h3TVkKLS0tIEczSWhwTUVCbUxrTDdHZUZlZHhV\nZTlaMmpaRDArUUNycktMMkpwVmNhdUEKbGEKglvSc1DNm6fjNiNtqA7mOi0oyMCB\nGOohIjU1dkInmRkv4T6Px79/aA+oDd0nBDPM9ojxpw/JT2i64vZ9Iw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-03-03T18:31:08Z",
		"mac": "ENC[AES256_GCM,data:W0iJDSU1Xi6iY/qBChvuB+X4+FURCUou9sADkep0vlEHRkw7Ip9ERGKJaaO/7Xs7MQtMnpwO0uA32CaxwCGDAeMf/puL+YWj6IkHvXYOSEHsHQY747UwzwwAcXSLmdCkLtprbaK5Uk89jfbv5rGxSrSXXbn50/VdR2tJZya16cE=,iv:PuJpHG3Z0iZ6XNyq88X+8ArYH6l8c0WJ1ulgixJJ5A0=,tag:v/alFAv9Ad1Cm2BiIvlWZA==,type:str]",
		"version": "3.11.0"
	}
}
