{
	"data": "ENC[AES256_GCM,data:BEMoQhbCvgLRcAZ7vOWGAlFLNJ6sonFHtqqWY8YGN4DLf1pojU1EEzsnQ5xSN9H94lEZoH3poVKeeJVj6jObbPk5P3Ko2E2zkjy0LugvY+CFtR8bXVsPAfHjeWyxI4WT4X6MTLIW4c3VDZ3vg906eiesCgXoLMmWclbwfCQ2QABK+RyAv6yGjnrFyD969yULDBviOEpbAQgRX1vlkP+Q12uhQQgeXpas9KKhWB+QtD/CMhy8gTzez8NLd/N1FKdy2KNcKAT/BJoWhWkwLYotidYgFP7FjPZqmz32dB/Bam1mFd6IUf+KydAyE2DjkwM2+Z32jHKZVwOZ/FHyypr5N7okMgoE/DjWrbmzm/FaO1smU0q6sKfbrOdLZ3Bup3WHhUso4gBP7V51Uzl8KDkTXpt9uJW2mnFAdjKdjBD/hhRUqtv436jkxGkw6t6GfnOaWpjk518uQhIJu9nLfXF1qi5W0KpzPEdpStWsf7sJWAbt1zjAc+YLKFPquVDVVd+kAny1XR8pFl/6Ko3DdreHd2Tsep7miv3EGfaodPjsKRHwYprhmoXHdRDwJYX5SVZl0Azk2uF6Oxvp,iv:rzNfdUWWoNmKnVxt8qU6WNO9BipPLJQxyBl1EZ9rH7c=,tag:fqbZaxFeyFwOguHwondRuQ==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1f4rhkdrl3yd7qwrpmz33cy5vck0520kyrzk3crf7vr3l2hc07smswjrn8u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBXSEhZQTRYWFpJeXVSTVhR\nUXVCaUxnZFJHeXNWVDQzRGs5dm9obTcvMVMwCndNVjJ5Q1lyY1BWcmpkMC9tZFBw\nV2hDMXE1YVpKbXZjaVVXL0ZUWXh0ZEkKLS0tIEU3ckp0WjdTdUFmMkk0aHZMVEJ0\nNXUxSzc4RlkwMjR4TVpZZFJaQkpJLzAKEO4sX+g2SWMXH00khr1IBYY7uudEsinv\neNqele1dHqDf37M2KOaA0GMn4Z8d0959rWmyh0lBbB4ceEG4Qm9M+g==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-09-18T20:22:33Z",
		"mac": "ENC[AES256_GCM,data:DMZtb0s2BmGIFMp4w3NchhmhKLGJBovOSrjofeVZ4HwddLzENUguz7wS+c4GlIVaXbAQuhcZ3QPQb2agIrDJCq9N2T7nint/YHP1coqQa54wECAci/u7M2vpEM/wwM89ot7xDVDDvQOKsC/7jUMu+FcXArdWn69WcTTFGmY4jlg=,iv:44T7AybtL0Be1xjF2/uVWNx3AGipO5lCguAIldwJ9SQ=,tag:SjskdE+FIWqwIQUYSVQBFg==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.12.1"
	}
}
